* {
  padding: 0;
  margin: 0;
}

a,
a.a-no-style {
  text-decoration: none;
  color: #000;
}

a.anchor {
  color: var(--bs-primary);
}

a.anchor:hover {
  text-decoration: underline;
}
.container-fluid.layout-container {
  max-width: calc(100vw - 80px);
  margin: auto;
  margin-top: 3rem;
}

/* X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .container-fluid.layout-container {
    max-width: 100vw;
  }
}

.loading-animaiton {
  --webkit-animation: rotateImage 1.5s linear infinite;
  animation: rotateImage 1.5s linear infinite;
}

@-webkit-keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateImage {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* //////////////////////////////////////////////////////////////// */

#WEB3_CONNECT_MODAL_ID div {
  z-index: 1500;
}

.dropdown-toggle::after {
  all: unset;
}
